<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Untitled</title>
</head>

<body>
<div class="container w-100 h-100" style="width: 100%;height: 100%;">
    <div class="col">
        <div class="row">
            <div class="col" style="text-align: center;"><img src="/assets/img/avatars/sadpanda_vector.svg" style="width: 400px;text-align: center;" /></div>
        </div>
        <div class="row">
            <div class="col">
                <h1 style="text-align: center;color: #c2c2c2;font-family: fira code;">IT&#39;S NOT YOU<br />IT&#39;S ME</h1>
                <p class="lead shadow-none" style="text-align: center;color: rgb(194,194,194);font-family: fira code;font-size: 13px;margin: 34px;">Something went terribly wrong...<br />Try and reload the page, that usually does the trick.</p>
                <p class="lead shadow-none" style="text-align: center;color: rgb(194,194,194);font-family: fira code;font-size: 13px;margin: 34px;"><%= message %></p>
            </div>
        </div>
    </div>
</div>
</body>

</html>
